<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Allane Mobility Group</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="customer" class="nav-link">Customer</a>
      </li>
      <li class="nav-item">
        <a routerLink="vehicle" class="nav-link">Vehicle</a>
      </li>
      <li class="nav-item">
        <a routerLink="leasing" class="nav-link">Leasing Contract</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>